// color
$accent: #FFA700;
$dark: #293A43;
$light: #EDEDED;
$btn-dark: #4B5A65;
$input-dark: #314853;
$btn-shadow: 0px 0px 5px #ffffff;

// margins puddings
$gutter: 20px;

//fonts
$Raleway: 'Raleway', sans-serif;
$Intro: 'Intro', sans-serif;

// animations
$trans: all 0.3s ease-in-out;

// media breaks


