.blog-article {
  height: 100%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 38px;
  align-items: center;
  transition: $trans;
  overflow: hidden;
  padding-bottom: 25px;
  &:hover{
    background-color: darken($light, 5%);
    & .blog-article__img{
        transform: scale(1.05) translateY(-6.5px) ;
    }
  }
}

.blog-article__img{
  overflow: hidden;
  height: 270px;
  width: 100%;
  object-fit: cover;
  transition: $trans;
}

.blog-article__content{
    padding-left: $gutter;
    padding-right: $gutter;
    // padding-top: $gutter;
    // padding-bottom: $gutter;
    text-align: center;
    align-content: center;
}

.blog-article__title{
    @include text($Raleway, 18px, 800, #666666);
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.2;
    margin-bottom: 34px;
    @media screen and (max-width: 1080px){
      padding-left: 8px;
      padding-right: 8px;
    }
    
}

.blog-article__text{
    @include text($Raleway, 16px, 400, #333333);
}
