.blog-section__list {
  grid-gap: $gutter;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;

  @media #{$mx992} {
    grid-template-columns: repeat(3, 1fr);
  }

  @media #{$mx768} {
    grid-template-columns: 1fr 1fr;
  }

  @media #{$mx480} {
    grid-template-columns: 1fr;
  }
}

.blog-section__item{
background-color: $light;
}


.blog-section__item:nth-child(3) {
  grid-column: span 2;

  @media #{$mx992} {
    grid-column: span 1;
  }
}

.blog-section__item:nth-child(4) {
  grid-column: span 2;

  @media #{$mx992} {
    grid-column: span 1;
  }
}

.blog-section__title {
  margin-bottom: 62px;
}
