.form-section {
  padding-top: 26px;
  padding-bottom: 18px;
  background-color: $dark;

  &__form-container {
    grid-template-columns: repeat(3, 1fr) 200px;
    grid-gap: $gutter;
  }

  &__button {
    @include text($Raleway, 17px, 800, #ffffff);
    // justify-self: start;
  }
}

.form-section__input {
  padding: 15px 20px;
  @include text(Arial, 16px, 400, #ffffff);
  font-style: oblique;
  border: 2px solid transparent;
  background-color: $input-dark;
  transition: $trans;
  outline: none;
  height: 50px;
  &:focus{
    background-color: #ffffff;
  }

  &:required:focus:invalid {
    color: $btn-dark;
    border: 2px solid red;
  }

  &:required:valid {
    background-color: #fff;
    color: $btn-dark;
    border: 2px solid green;
  }

  &--email:not(:placeholder-shown):invalid{
    background-color: #fff;
    color: $btn-dark;
    outline: none;
    border: 2px solid red;
  }
  &--email:not(:placeholder-shown):valid{
    background-color: #fff;
    color: $btn-dark;
    outline: none;
    border: 2px solid green;

  }

}
