.form-section {
  padding-top: 26px;
  padding-bottom: 18px;
  background-color: $dark;

  &__form-container {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $gutter;
  }

  &__button {
    @include text($Raleway, 17px, 800, #ffffff);
    justify-self: start;
  }
}

.form-section__input {
  padding: 15px 20px;
  @include text(Arial, 16px, 400, #ffffff);
  font-style: oblique;
  border: 2px solid transparent;
  background-color: $input-dark;
  transition: $trans;
  outline: none;
  height: 50px;

  &:focus {
    background-color: #ffffff;
    color: $btn-dark;
    border: 2px solid red;
  }

  &:required:valid {
    background-color: #fff;
    color: $btn-dark;
    border: 2px solid green;
  }

  &--email:valid{
    background-color: #fff;
    color: $btn-dark;
    border: 2px solid green;
  }

  //   &:required {
  //     color: $btn-dark;
  //     background-color: #fff;
  //     &:valid {
  //       background-color: #fff;
  //       border: 2px solid green;
  //     }

  //     &:invalid{

  //     }

  //     &:focus:invalid {
  //       border: 2px solid red;
  //     }
  //   }
  //   &:focus {
  //     outline: none;
  //     background-color: #ffffff;
  //     color: $btn-dark;
  //   }

}
