.header-content{
    z-index: 1;
    text-align: center;
    padding: 0 $gutter;
    // display: flex;
    // flex-wrap: wrap;
    align-content: space-between;
    justify-items: start;
    max-width: 800px;
    min-height: 180px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.header-content__title{
    @include text($Intro, 60px, 400, #ffffff, uppercase);
    line-height: 1.5;
    grid-column: span 2;
}

.header-content__btn{
    @include text($Raleway, 20px, 800, #ffffff);
    &:nth-child(2){
        justify-self: end;}
}