.header-content {
  z-index: 1;
  text-align: center;
  padding: 0 $gutter;
  // align-content: space-between;
  justify-items: start;
  max-width: 800px;
  min-height: 180px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

  @media #{$mx480} {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
}

.header-content__title {
  @include text($Intro, 60px, 400, #ffffff, uppercase);
  line-height: 1.5;
  grid-column: span 2;

  @media #{$mx992} {
    font-size: 50px;
    line-height: 1.3;
  }

  @media #{$mx480} {
    font-size: 40px;
    grid-column: span 1;
  }
}

.header-content__btn {
  @include text($Raleway, 20px, 800, #ffffff);

  &:nth-child(2) {
    justify-self: end;
    @media #{$mx480} {
      justify-self: center;
    }
  }

  @media #{$mx992} {
    font-size: 18px;
  }

  
}
