.ready-section {
  background-color: $light;

  &__container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 26px;
  }

  &__article {
    border-right: 1px solid rgba($color: #000000, $alpha: .08);
    padding: 60px 60px 0 60px;

  }

  &__title {
    margin-bottom: 50px;
  }

  &__text {
    @include text($Raleway, 18px, 400, #333333);
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

}
