@import '../components/portfolio';
@import '../components/ready-section';
@import '../components/form-section';

main{
    padding-top: 5px;
}

.landing-section{
    padding-top: 80px;
    padding-bottom: 80px;
}